extends ./layout

block content
  .header
    .container
      .row
        .col.s6
          .logo.left-align
            a(href='/'): img(src='/img/logo.png')
        .col.s6.right-align
          .login
            a(href='/login') Login

        .col.s12.left-align
          h2 Andela Inventory
          h3 Advance Inventory Manager
          p All recourse are offered free of charge with very little
          p restriction. want to show your support or some appreciation?
          a(class="waves-effect waves-light btn") Get Started


  .container.sec
    .row
      .col.s4
        .large.material-icons insert_chart
        p We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.
      .col.s4
        .large.material-icons visibility_off
        p We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.
      .col.s4
        .large.material-icons perm_identity
        p We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.

