doctype html
html(lang="en")
    head

        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0")

        block title
            title  Andela inventory

        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro" rel="stylesheet")
        link(href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection")
        link(href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection")

        block script
        block style
        body
            block content


            script(src ="/js/jquery-2.1.1.min.js")
            script(src="/js/materialize.js")
            script(type='application/javascript').
                $(document).ready(function () {
                    $(".button-menu").sideNav({
                        menuWidth: 300, // Default is 240
                        edge: 'left', // Choose the horizontal origin
                        closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    });
                });
            block footerScript




